<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/dist/bundle.css">
    {% block head %}{% endblock head %}
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        {% block content %}{% endblock content %}
    </div>
    
    <footer class="main-footer">
    {% include "footer.html" %}
    </footer>

    <script src="/static/dist/bundle.js"></script>
</body>
