{% extends "base.html" %}
{% block title %}Crash Info{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
{% set current_page = "Crashes" %}
{% include "navbar.html" %}
{% include "sidebar.html" %}
<div class="content-wrapper">
  {% include "page_header.html" %}
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <div id="crash-info" class="card card-primary card-outline">
            <div class="overlay">
              <i class="fas fa-3x fa-sync-alt fa-spin"></i>
            </div>
            <div class="card-body box-profile">
              <h3 id="name" class="profile-username text-center">Crash name</h3>
              <ul class="list-group list-group-unbordered mb-3">
                <li class="list-group-item">
                  <i class="fas fa-fingerprint p-2 align-middle"></i>
                  GUID
                  <span id="guid" class="agent-badge float-right"></span>
                </li>
                <li class="list-group-item">
                  <i class="far fa-calendar-alt p-2 align-middle"></i>
                  Created
                  <span id="created" class="agent-badge float-right"></span>
                </li>
                <li class="list-group-item">
                  <i class="far fa-hourglass p-2 align-middle"></i>
                  Size
                  <span id="size" class="agent-badge bg-primary float-right"></span>
                </li>
              </ul>
              <a id="download" class="btn btn-primary btn-block float-right" style="display: none;"><b>Download</b></a>
            </div>
          </div>
          <!-- /.card -->
        </div>

        <div class="col-md-9">
          <div class="card card-primary card-outline card-outline-tabs">
            <div class="card-header p-0 border-bottom-0">
              <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" href="#hexdump" data-toggle="tab" role="tab" aria-controls="hexdump">Hexdump</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#coverage" data-toggle="tab" role="tab" aria-controls="coverage">WIP</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#crashes" data-toggle="tab" role="tab" aria-controls="crashes">WIP</a>
                </li>
              </ul>
            </div>
            <div class="card-body">
              <div class="tab-content">
                <div class="tab-pane fade active show" id="hexdump" role="tabpanel" aria-labelledby="tab-hexdump">
                  <pre id="crash-hash" class="pb-0 mb-0">
                  </pre>
                  <pre id="hexdump-data">
                  </pre>
                </div>
                <div class="tab-pane fade" id="coverage" role="tabpanel" aria-labelledby="tab-coverage">
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                </div>
                <div class="tab-pane fade" id="crashes" role="tabpanel" aria-labelledby="tab-crashes">
                  Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    {% include "modals.html" %}
  </section>
  <!-- /.content -->
</div>
{% endblock content %}
{% block scripts %}
<script src="/static/dist/crash_page.js"></script>
{% endblock scripts %}
