{% extends "base.html" %}
{% block title %}Crash Info{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
{% set current_page = "Crashes" %}
{% include "navbar.html" %}
{% include "sidebar.html" %}
<div class="content-wrapper">
  {% include "page_header.html" %}
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <div id="crash-info" class="card card-primary card-outline">
            <div class="overlay">
              <i class="fas fa-3x fa-sync-alt fa-spin"></i>
            </div>
            <div class="card-body box-profile">
              <h3 id="name" class="profile-username text-center">Crash name</h3>
              <ul class="list-group list-group-unbordered mb-3">
                <li class="list-group-item">
                  <i class="fas fa-fingerprint p-2 align-middle"></i>
                  GUID
                  <span id="guid" class="agent-badge float-right"></span>
                </li>
                <li class="list-group-item">
                  <i class="far fa-calendar-alt p-2 align-middle"></i>
                  Created
                  <span id="created" class="agent-badge float-right"></span>
                </li>
                <li class="list-group-item">
                  <i class="far fa-hourglass p-2 align-middle"></i>
                  Size
                  <span id="size" class="agent-badge bg-primary float-right"></span>
                </li>
              </ul>
              <a id="download" class="btn btn-primary btn-block float-right" style="display: none;"><b>Download</b></a>
            </div>
          </div>
          <!-- /.card -->
        </div>

        <div class="col-md-9">
          <div class="card card-primary card-outline card-outline-tabs">
            <div class="card-header p-0 border-bottom-0">
              <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" href="#hexdump" data-toggle="tab" role="tab" aria-controls="hexdump">Hexdump</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#gdb" data-toggle="tab" role="tab" aria-controls="gdb" aria-disabled="true">GDB</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#clusterfuzz" data-toggle="tab" role="tab" aria-controls="clusterfuzz">ClusterFuzz</a>
                </li>
              </ul>
            </div>
            <div class="card-body">
              <div class="tab-content">
                <div class="tab-pane fade active show" id="hexdump" role="tabpanel" aria-labelledby="tab-hexdump">
                  <pre id="crash-hash" class="pb-0 mb-0">
                  </pre>
                  <pre id="hexdump-data">
                  </pre>
                </div>
                <div class="tab-pane fade" id="gdb" role="tabpanel" aria-labelledby="tab-gdb">
                  <div id="gdb-info">
                    <div class="row">
                      <div class="col-12 col-sm-4">
                        <div class="info-box bg-light">
                          <div class="info-box-content">
                            <span class="info-box-text text-center text-muted">Short description</span>
                            <span id="short-description" class="info-box-number text-center text-muted mb-0">null</span>
                          </div>
                        </div>
                      </div>
                      <!-- /.col -->
                      <div class="col-12 col-sm-4">
                        <div class="info-box bg-light">
                          <div class="info-box-content">
                            <span class="info-box-text text-center text-muted">Exploitability Classification</span>
                            <span id="exp-classification" class="info-box-number text-center text-muted mb-0">null</span>
                          </div>
                        </div>
                      </div>
                      <!-- /.col -->
                      <div class="col-12 col-sm-4">
                        <div class="info-box bg-light">
                          <div class="info-box-content">
                            <span class="info-box-text text-center text-muted">Other tags</span>
                            <span id="other-tags" class="info-box-number text-center text-muted mb-0">null</span>
                          </div>
                        </div>
                      </div>
                      <!-- /.col -->
                    </div>
                    <!-- /.row -->
                    <div class="row">
                      <div class="col-12">
                        <div>
                          <h4>Description</h4>
                          <p id="description" class="text-muted mx-2">null</p>
                        </div>
                        <div>
                          <h4>Explanation</h4>
                          <p id="explanation" class="text-muted mx-2">null</p>
                        </div>
                        <div>
                          <h4>Hash</h4>
                          <p id="hash" class="text-muted mx-2">null</p>
                        </div>
                        <div>
                          <h4>Backtrace</h4>
                          <pre id="backtrace">null</pre>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="clusterfuzz" role="tabpanel" aria-labelledby="tab-clusterfuzz">
                  <div id="clusterfuzz-info">
                    <div class="row">
                      <div class="col-12 col-sm-3">
                        <div class="info-box bg-light">
                          <div class="info-box-content">
                            <span class="info-box-text text-center text-muted">Type</span>
                            <span id="type" class="info-box-number text-center text-muted mb-0">unknown</span>
                          </div>
                        </div>
                      </div>
                      <!-- /.col -->
                      <div class="col-12 col-sm-3">
                        <div class="info-box bg-light">
                          <div class="info-box-content">
                            <span class="info-box-text text-center text-muted">Is crash</span>
                            <span id="is-crash" class="info-box-number text-center text-muted mb-0">unknown</span>
                          </div>
                        </div>
                      </div>
                      <!-- /.col -->
                      <div class="col-12 col-sm-3">
                        <div class="info-box bg-light">
                          <div class="info-box-content">
                            <span class="info-box-text text-center text-muted">Is security issue</span>
                            <span id="is-security-issue" class="info-box-number text-center text-muted mb-0">unknown</span>
                          </div>
                        </div>
                      </div>
                      <!-- /.col -->
                      <div class="col-12 col-sm-3">
                        <div class="info-box bg-light">
                          <div class="info-box-content">
                            <span class="info-box-text text-center text-muted">Should ignore</span>
                            <span id="should-ignore" class="info-box-number text-center text-muted mb-0">unknown</span>
                          </div>
                        </div>
                      </div>
                      <!-- /.col -->
                    </div>
                    <div class="row">
                      <div class="col-12">
                        <div>
                          <h4>Output</h4>
                          <pre id="output"></pre>
                        </div>
                        <div>
                          <h4>Stacktrace</h4>
                          <pre id="stacktrace"></pre>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    {% include "modals.html" %}
  </section>
  <!-- /.content -->
</div>
{% endblock content %}
{% block scripts %}
<script src="/static/dist/crash_page.js"></script>
{% endblock scripts %}
