{% extends "base.html" %}
{% block title %}Dashboard{% endblock title %}
{% block header %}{% endblock header %}
{% block content %}
{% set current_page = "Dashboard" %}
{% include "navbar.html" %}
{% include "sidebar.html" %}
<div class="content-wrapper">
  {% include "page_header.html" %}
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-2 col-6">
          <!-- small card -->
          <div class="small-box bg-info" id="agents_total">
            <div class="overlay">
              <i class="fas fa-3x fa-sync-alt fa-spin"></i>
            </div>
            <div class="inner">
              <h3>150</h3>

              <p>Total Agents</p>
            </div>
            <div class="icon">
              <i class="fas fa-cubes"></i>
            </div>
            <a href="/agents" class="small-box-footer">
              More info <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
          <!-- ./small card -->
        </div>

        <div class="col-lg-2 col-6">
          <!-- small card -->
          <div class="small-box bg-success" id="agents_alive">
            <div class="overlay">
              <i class="fas fa-3x fa-sync-alt fa-spin"></i>
            </div>
            <div class="inner">
              <h3>150</h3>

              <p>Agents Alive</p>
            </div>
            <div class="icon">
              <i class="fas fa-plug"></i>
            </div>
            <a href="/agents" class="small-box-footer">
              More info <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
          <!-- ./small card -->
        </div>

        <div class="col-lg-2 col-6">
          <!-- small card -->
          <div class="small-box bg-info" id="jobs_alive">
            <div class="overlay">
              <i class="fas fa-3x fa-sync-alt fa-spin"></i>
            </div>
            <div class="inner">
              <h3>150</h3>

              <p>Jobs Alive</p>
            </div>
            <div class="icon">
              <i class="fas fa-user-tie"></i>
            </div>
            <a href="/jobs" class="small-box-footer">
              More info <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
          <!-- ./small card -->
        </div>

        <div class="col-lg-2 col-6">
          <!-- small card -->
          <div class="small-box bg-success" id="jobs_completed">
            <div class="overlay">
              <i class="fas fa-3x fa-sync-alt fa-spin"></i>
            </div>
            <div class="inner">
              <h3>150</h3>

              <p>Jobs Completed</p>
            </div>
            <div class="icon">
              <i class="fas fa-user-tie"></i>
            </div>
            <a href="/jobs" class="small-box-footer">
              More info <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
          <!-- ./small card -->
        </div>

        <div class="col-lg-2 col-6">
          <!-- small card -->
          <div class="small-box bg-danger" id="jobs_error">
            <div class="overlay">
              <i class="fas fa-3x fa-sync-alt fa-spin"></i>
            </div>
            <div class="inner">
              <h3>150</h3>

              <p>Jobs Error</p>
            </div>
            <div class="icon">
              <i class="fas fa-user-tie"></i>
            </div>
            <a href="/jobs" class="small-box-footer">
              More info <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
          <!-- ./small card -->
        </div>

        <div class="col-lg-2 col-6">
          <!-- small card -->
          <div class="small-box bg-info" id="crashes_total">
            <div class="overlay">
              <i class="fas fa-3x fa-sync-alt fa-spin"></i>
            </div>
            <div class="inner">
              <h3>150</h3>

              <p>Crashes Total</p>
            </div>
            <div class="icon">
              <i class="fas fa-bullseye"></i>
            </div>
            <a href="/crashes" class="small-box-footer">
              More info <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
          <!-- ./small card -->
        </div>
      </div>
      
      {% if show_stats == true %}
      <!-- row stats -->
      <div class="row">
        <div class="col-6">
          <div class="card">
            <div class="card-header border-0">
              <div class="d-flex">
                <h3 class="card-title">Saved crashes</h3>
              </div>
            </div>
            <div class="card-body">
              <div class="position-relative mb-4">
                <canvas id="crashes-graph"></canvas>
              </div>
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="card">
            <div class="card-header border-0">
              <div class="d-flex">
                <h3 class="card-title">Edges found</h3>
              </div>
            </div>
            <div class="card-body">
              <div class="position-relative mb-4">
                <canvas id="edges-graph"></canvas>
              </div>
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="card">
            <div class="card-header border-0">
              <div class="d-flex">
                <h3 class="card-title">Execs/s</h3>
              </div>
            </div>
            <div class="card-body">
              <div class="position-relative mb-4">
                <canvas id="execs-graph"></canvas>
              </div>
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="card">
            <div class="card-header border-0">
              <div class="d-flex">
                <h3 class="card-title">Hangs saved</h3>
              </div>
            </div>
            <div class="card-body">
              <div class="position-relative mb-4">
                <canvas id="hangs-graph"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
    {% include "modals.html" %}
  </section>
  <!-- /.content -->
</div>
{% endblock content %}
{% block scripts %}
<script src="/static/dist/index.js"></script>
{% endblock scripts %}
